---
layout: job_page
title: "Customer Lifecycle Marketing Manager"
---

Are you a passionate marketer with strong program management skills who has mastered the art of building relationships and executing on exciting new projects? GitLab is looking for an awesome Customer Lifecycle Marketing Manager to own the strategy and execution of end-to-end lifecycle marketing initiatives, ranging from first click to retention and renewal initiatives, with a focus on instilling loyalty within the our ever-growing customer base. Our ideal candidate will have no problem rolling up their sleeves and working directly with customers to understand the wants and needs of the market, while ensuring that relevant programs are being created for all stages of the customer journey.

## Responsibilities
* Develop GitLab’s customer lifecycle stages and create strategic initiatives for each stage of the customer journey, which include onboarding, engagement and retention.
* Create and refine effective programs that leverage tenure and customer behavior data, and include a mix of triggered, targeted and broad educational campaigns.
* Identify key, measurable metrics (upsell, churn, etc.) for lifecycle programs encompassing a growth hacker mentality with the ability to test and scale rapidly.
* Forge personal relationships with advocate customers and build out case studies, testimonials and quotes, acting as a content source for GitLab.
* Conceptualize and launch a customer advocacy program and customer community designed to identify and mobilize customers, transforming them into GitLab brand ambassadors.
* Maintain positive and productive relationships with product marketing, product management and engineering teams to ensure messaging of programs and product updates are accurate and meaningful to the developer persona.
* Partner with customer success and account managers to leverage customer interaction touch points and infuse personal, one-to-one programs.
* Participate in GitLab sponsored tradeshows, seminars, workshops and events and build face-to-face loyalty and relationships with prospects and customers.

## Requirements
* 5-7 years experience in customer marketing, preferably at an enterprise technology company.
* A proven track record of delighting customers and creating successful marketing programs aimed at customers.
* Strong communication skills without a fear of over communication. This role will require effective collaboration and cross-functional coordination across internal and external contributors.
* Extremely detail-oriented and organized, able to manage multiple projects to meet deadlines.
* A passion and strong understanding of developer customer personas and the landscape.
* Is your college degree in French foreign politics with a minor in interpretive dance but you’ve been hacking together websites since you were 12? Perfect. We understand that your college degree isn’t the only thing that prepares you as a potential job candidate.
* You share our [values](/handbook/values), and work in accordance with those values.

## Hiring Process

<%= partial "includes/apply_and_about" %>
