---
layout: job_page
title: "Frontend Engineering Manager"
---

{: .text-center}
<br>

## Responsibilities

* Leads the implementation of significant frontend features
* Works with other teams to identify priorities for releases
* Assigns frontend engineers direction issues
* Identifies hiring needs for frontend group
* Interviews applicants for Frontend engineers positions
* Continues to spend part of their time coding
* Ensures that the technical decisions and process set by the CTO are followed
* Does 1:1's with all reports every 2-5 weeks (depending on the experience of the report)
* Is available for 1:1's on demand of the report
* Uses the contributor analytics to ensure that Frontend engineers that are stuck are helped
* Ensures quality implementation of design materials
* Prioritize frontend issues which lead to bad user experience
* Review of the merge requests made by Frontend engineers
* Delivers input on promotions, function changes, demotions and firings in consultation with the CEO, CTO, and VP of Engineering
* Defines best practices and coding standards for frontend group

## Requirements for Applicants

* At least 1 year of experience leading, mentoring, and training teams of frontend engineers
* Experience working on a production-level JavaScript applications
* Self-motivated and strong organizational skills
* Strong understanding of CSS
* Expert knowledge of JavaScript
* Passionate about testing and design principles
* Basic knowledge of Vue.js is a plus but not a requirement
* Collaborate effectively with UX Designers, Developers, and Designers
* Be able to work with the rest of the community
* Knowledge of Ruby on Rails is a plus
* You share our [values](/handbook/values), and work in accordance with those values.

## Relevant links

- [Engineering Handbook](/handbook/engineering)
- [Engineering Workflow](/handbook/engineering/workflow)

<%= partial "includes/apply_and_about" %>
